#dropdown {
	position: fixed;
	margin-top: 3.7em;
	height:2em;
	width: 100%;
	z-index: 2;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

details {
	z-index: 1;
		-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	summary {
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		background-color: #BABABA;
		padding: 0.5em;
		color: #fff;
	}

	summary::-webkit-details-marker {
	  display: none
	}	
}

.working_home_dates {
	list-style: none;
	padding-left: 20px;
	padding-top: 2.32em;
	background-color: #C9C9C9;
	height: 1em;
	border-bottom: aliceblue 1px solid;

		 li { 
		 	display: inline;
		 	font-size: 0.85em;
		 	text-transform: uppercase;
		 	margin-left: 51.4px;
		 	font-weight: 300;
		 	color: #fff;
		 }

		 label span {
		 	left: 10px;
		 	top: -34px;
		 }

		 span.month  {
		 	left: 2px;
		 }
}


.working_home_days {
	list-style: none;
	padding-left: 20px;
	padding-top: 2.32em;
	background-color: #C9C9C9;
	height: 1em;

		 li { 
		 	display: inline;
		 	font-size: 0.85em;
		 	text-transform: uppercase;
		 	margin-left: 20.4px;
		 	font-weight: 300;
		 	color: #fff;
		 }

		 label span {
		 	left: 10px;
		 	top: -34px;
		 }
}

//cross disabled
// .cross-toggle {
//   height: 21px;
//   position: absolute;
//   width: 21px;
//   margin-left: 1.2em;
//   margin-top: 1.5em;
  
//       &:before{
//         background: #A8838A;
//         content: '';
//         height: 5px;
//         left: 0;
//         position: absolute;
//         top: 0;
//         width: 21px;
//         transform: rotate(133deg);
//       }

//       &:after {
//         background: #A8838A;
//         content: '';
//         height: 5px;
//         left: 0;
//         position: absolute;
//         top: 0;
//         width: 21px;
//         transform: rotate(48deg);
//       }
// }