/* agenda bar */
.month-bar {
	position: fixed;
	background-color: $dark_blue;
	margin-top: 3.2em;

	.month-weekdays {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: row;
	            flex-direction: row;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	    margin: 1px -82px 0 32px;

		 span {
		 	font-size: 0.9em;
		 	font-size: medium;
		 	text-transform: uppercase;
		 	font-weight: 500;
		 	color: $white;
		 	letter-spacing: 0.3px;
		 	width: calc(100% * (1/7) - 10px - 1px);
		}
	}
}