/* notification_full */
.notification_toMany { 
	display: table;
	max-width: 337px;
	background-color: #3A5AA8;
	color: #fff;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 33%;
}

.message-icon {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.message-body {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 20px 30px 10px;
}

.message-body > p {
    line-height: 1.2;
    margin-top: 6px;
    letter-spacing: 0.1px;
}

.message-close {
    position: absolute;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    right: 5px;
    top: 5px;
    width:40px;
    cursor: pointer;
}

.cross {
    display: inline-block;
}

.cross:before {
    position:absolute;
    content: "X";
    color:rgba(255,255,255,0.7);
    font-weight: 500;
    width:10px;
    height:10px;
    top:0.5em;
    left:1em;
}


.notification_toMany.hide {
    display:none;
} 