.booked:disabled {
    background: $dark-grey-disabled;
    color: $light-grey-disabled;
}

.booked, .remove {
	border: none;
	color: $white;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 1em;
	font-weight: 500;
	width:100%;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.booked {
	background-color: $booked-numbers;

	&.booking {
		background-color: #1A3755;
	}
}

.remove {
	background-color: $bg-blue;

	&.removing {
		background-color: #1A3755;
	}
}

.booked.hide, .remove.hide {
  display:none;
}


