// bovenste buttons 
.bookDeskButton, .officeButton, { 
	border: none;
	color: $white;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	font-weight: 400;
	width: 50%;
	float: left;
	background-color: $book-desk-button-green;
	-webkit-animation: desk 0.5s ease;
	letter-spacing: 0.3px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}


.officeButton {
	background-color: $office-button-blue;
}


.booked, .reset {
	border: none;
	color: $white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	font-weight: 500;
	width:100%;
	background-color: $orange;
	-webkit-animation: reset 0.5s ease;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.reset {
	background-color: $white;
	color: $grey;
}

.done {
	background-color: #E77E23;
}

.bookDeskButton.hide, .officeButton.hide, .booked.hide, .reset.hide {
  display:none;
}

// .tools {
// 	margin-top: -9em;
// 	    position: absolute;
// 	    width: 100%;
// 	    z-index: 1000;
// }
