// plus minus booking section
.plus-minus-toggle {
  height: 21px;
  position: absolute;
  width: 21px;
  margin-left: 1.2em;
  margin-top: 0.9em;
  
      &:before,
      &:after {
        background: $white; 
        content: '';
        height: 5px;
        left: 0;
        position: absolute;
        top: 0;
        width: 21px;
        -webkit-transition: -webkit-transform 500ms ease;
        transition: -webkit-transform 500ms ease;
        transition: transform 500ms ease;
        transition: transform 500ms ease, -webkit-transform 500ms ease;
      }

      &:after {
        -webkit-transform-origin: center;
                transform-origin: center;
      }

      &.collapsed {
        &:after {
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
        }
        &:before {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
        }
      }
}

// arrow office section
.arrow,
.arrow:before,
.arrow:after,
.content,
.collapsed {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.arrow {
    position: absolute;
    margin-left: 2.2em;
    margin-top: 1.5em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  
    &:before {
      content: " ";
      width: 17px;
      height: 5px;
      left: 50%;
      margin-left: -12px;
      background-color: $white;
      position: absolute;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      }

      &:after {
      content: " ";
      width: 17px;
      height: 5px;
      background-color: $white;
      position: absolute;
      right: -15px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      }
  
      &.collapsed {
        &:after {
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }
        &:before {
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
        }
      }
}

.vink_book.hide {
  display: none;
}

.vink {
    position: absolute;
    width: 0.5rem;
    height: 1rem;
    -webkit-transform: scaleX(-1) rotate(135deg);
    border-right: 5px solid rgba(255, 255, 255, 0.7);
    border-top: 5px solid rgba(255, 255, 255, 0.7);
    display: block;
    -webkit-animation: check-inactive 0.5s ease;
}

.vink_book {
  margin-left:1.2em;
  margin-top:0.7em;
  margin-left: auto;
  margin-right: auto;
  left: -83px;
  right: 0;  
}