/* animations */
// Bookings toolbal animation
@-webkit-keyframes desk {
    from {
        width: 20%; 
    }
    to {
        width: 50%;
    }
}

@-webkit-keyframes reset {
    from {
        width: 25%; 
    }
    to {
        width: 100%;
    }
}

// vink animation
@-webkit-keyframes check-inactive {
  25% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
    width: 0.5rem;
    height: 0;
  }
}
