.checkmark {
    display: block;
    position: relative;
    z-index: 10;
}

.checkmark:after {
    -webkit-animation: check .8s;
    animation: check .8s;
}

.checkmark:after {
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-right: 0.313em solid $white;
  border-top: 0.313em solid $white;
  content: '';
  display: block;
  height: 1em;
  left: 32%;
  position: absolute;
  top: 1.438em;
  width: 0.625em;
}

.checkmark.hide {
  display: none;
}

// checkmark
@-webkit-keyframes check {
0% {
        height: 0;
        width: 0;
    }

    33.3333% {
        width: 0.625em;
        height: 0;
    }
  
}
@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    33.3333% {
        width: 0.625em;
        height: 0;
    }
}
@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    33.3333% {
        width: 0.625em;
        height: 0;
    }
}