
// weekDays
	.month-weekdays {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-left: 2em;
		margin-top: 0.5em;

		 span {
      		font-size: 1em;
		 	text-transform: uppercase;
		 	font-weight: 500;
		 	color: $white;
		 	letter-spacing: 0.3px;
		 	width: calc(100% * (1/7) - 0px - 1px);
		 	margin-top: 2em;
		}
	}


