/* notification_full */
.notification_toMany { 
	display: table;
	max-width: 21.063em;
	background-color: $white;
	color: $white;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 33%;
    z-index: 1000;
}

.message-icon {
    display: table-cell;
    vertical-align: middle;
    width: 3.750em;
    text-align: center;
    background-color: $booked-date;
}

.message-body {
    display: table-cell;
    vertical-align: middle;
    padding: 1.875em 1.250em 1.875em 0.625em;
}

.message-body > p {
    line-height: 1.2;
    margin-top: 0.375em;
    letter-spacing: 0.1px;
}

.message-close {
    position: absolute;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;
    font-size: 1.250em;
    right: 0.313em;
    top: 0.313em;
    width: 2.5em;
    cursor: pointer;
}

.cross {
    display: inline-block;
}

.cross:before {
    position:absolute;
    content: "X";
    color:$black;
    font-weight: 500;
    width: 0.625em;
    height: 0.625em;
    top: 0.5em;
    left: 1em;
}


.notification_toMany.hide {
    display:none;
} 