#info {
    position: absolute;
    left: -62em;
} 

#info + label:before {
  content: "I";
  height: 1em;
  padding: 0.5em;
  border: 0.2em solid $border;
  padding: 0.001em 0.5em;
  border-radius: 2em;
  font-size: 1em;
  margin-left: 7%;
}

#info:checked + label:after {
  content: "You can book five days in two weeks";
  margin-left: 0.5em;
} 

// geeft kleur op click
.radio-toolbar input[type="radio"]:checked + strong::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $selected;
  z-index: -1;
  box-shadow: inset 0em 0.25em 1.25em 0em rgba(0,0,0,0.1);
}

// disabled radio-toolbar
.label--disabled {
  color: $disabled-font;
}

.radio-toolbar.number--disabled {
    color: $disabled-font;
}

.radio-toolbar input[type="number"]:disabled + .radio-toolbar.number--disabled {
  color: $disabled-font;
}

.radio-toolbar input[type="radio"]:disabled + strong {
  color: $disabled-font;
}

.radio-toolbar input[type="radio"]:disabled + strong::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $light-grey;
  background: $disabled-bg;
  z-index: -1;
  box-shadow: inset 0em 0.25em 1.25em 0em rgba(0,0,0,0.1);
}


//employees tooltip
.arrow {
  top: 0.2em;
  position: relative;
  margin-left: 0.5em;
}

.radio-toolbar {
  display: block;
  padding: 1em 0.9em;
  font-size: 1em;
  position: relative;
  z-index: 0;
  background-color: $white;
  border-bottom: 0.001em solid $border-bottom;
  color: $black;
  box-shadow: 0em 0.25em 1.25em 0em rgba(0,0,0,0.2);
  text-align: center;

  ul.content_people {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    li {
      padding-left: 1.3em;
      list-style: none;
      margin-top: 1em;
    }
  } 
}

// als flexbox en calc niet werkt.
// .radio-toolbar {
//   display:table;
//   width:100%;
//   border:none;
//   position: relative;
//   z-index: 10;
//   margin-top: 0.5em;
//   padding: 1em 0.9em;
  

//   ul.content_people {
//     float:none;
//     display:table-row;
//     text-align:center;
//     list-style:none;
    
//     li {
//       float:none;
//       display:table-cell;
//       padding-left: 1.3em;
//       list-style: none;
//       margin-top: 1em;
//     }
//   } 
// }

.tooltip-input {
    position: absolute; 
    left: -999px;
}

.tooltip-input + span::before {
  width: 1em;
  display: inline-block;
  text-align: center;
}

.tooltip-input:not(:checked) + span::before {
  content: '>';
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    font-size: 1.2em;
}

.tooltip-input:checked + span::before {
  content: '>';
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  font-size: 1.2em;
}

.tooltip-input {
    background: transparent;
    cursor: pointer;
    display: inline-block;
    width: 1.7em;
}

.tooltip-input:not(checked) ~ .tooltip-content {
    display: none;
}

.tooltip-input:checked ~ .tooltip-content {       
    display: block;
}


.tooltip-input:checked:focus + span,
.tooltip-input:not(:checked):focus + span {
  box-shadow: 0 0 0.313em 0.313em #14B8FF;
  z-index: 1;
}


