//base
$bg-blue:#285483;
$black: #000000;
$white: #ffffff;
$light-grey: #F6F6F6;

// checkbox
$booked-date: #1A3755;
$booked-numbers: #14B8FF;
$booked-full: #888888;

// disabled radio-toolbar
$disabled-font: #6f6f6f;
$disabled-bg: #7c8084;

// borders
$border: #3F79B7;
$border-bottom: #CCDEF0;

$hr: #3CC4FF;
$selected: #F2F6F9;

//information
$orange: #F17000;
$green: #8EC800;
$grey: #A0A0A0;
$bg: #F9F9F9;
$blue: #31A5E0;

//disabled
$dark-grey-disabled: #404040;
$light-grey-disabled: #808080;