$black: #000000;
$white: #ffffff;
$grey: #808080;
$light-grey:#DCDCDC;
$orange: #e77e23;
$red: #ee1c25;
$dark_blue: #00205E;
$blue:#388CD6;


// button colors
$book-desk-button-green: #5AAB2C;
$office-button-blue: #3A8ED6;

// checkbox
$green: #9AC538;
$checkbox-green: #9AC538;

// backgrounds
$room-one-bg:#77B837;
$room-two-bg:#94C976;
$room-three-bg:#B8DA9B;

$people-one-bg:#579DE2;
$people-two-bg:#7FB4E9;
$people-three-bg:#A7CBF0;





