h1 {
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	padding: 0.5em;
	color: $white;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
}

h2 {
	font-weight: 600;
    font-size: 1em;
    color: $white;
    text-align: center;
    padding: 0.5em;
    text-transform: uppercase;
}

h3 {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
	font-weight: 400;
	font-size: 1em;
	margin-left: 1.2em;
	margin-bottom: 0.5em;
	-webkit-font-smoothing: antialiased;
}

p {
	color:$black;
}

strong {
	padding-right:1em;
	color:$black;
}
